@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');
*{
    margin :0;
    padding :0;
    box-sizing: 0;
    font-family: "Raleway", sans-serif;
    
}
body{

    min-height: 100vh;
    background: url(fliud.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:3%;

}
.wrapper{
    width: 900px ;
    background: transparent;
    backdrop-filter:  blur(50px);
    
    border-radius: 15px;
    padding: 40px;
}
.wrapper h1 {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color:rgb(20, 20, 91);
}
.navbar{
    display:flex;
    font-size:30px;
    color:rgb(38, 18, 94);
    font-weight:bold;
    margin-left:20px;

}



#messages{
    position:relative;
    color: rgb(133, 235, 255);

}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
}

#sendmsg{
    display:flex;
    margin:10px;
}
#messageBox{
    width:80%;
    height:40px;
    box-shadow: 5px 5px 5px rgb(62, 62, 62);
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size:18px;
    outline:none;
    border:none;

}
#send{
    width: 20%;
    height:40px;
    background-image:linear-gradient(to right,rgb(106, 40, 169),rgb(97, 171, 213)) ;
    border:none;
    box-shadow: 5px 5px 5px rgb(52, 51, 51);
    font-size: 20px;
    outline:none;
}
#send:hover{
   
    background-image:linear-gradient(to right,rgb(216, 246, 247),rgb(82, 170, 177)) ;
  
}